/*---------- Home Page ----------*/

.title {
  font-family: Fredoka One;
  text-align: center;
  color: #E9F7F6;
  font-size: 5vw;
  padding-top: 3%;
}

.container {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 300vw; /* Assuming 3 screens */
}

.screen {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}


#HomePage{
  background-image: none;
  background-size:cover;
  background-repeat: none;
  width: 100vw;
  height: 100vh;
  transition: background-image 1s ease-out;
}